* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    height: 50px;
}

.nav-link {
    color: #d4a373;
}

.header-container {
    border: 3px solid yellow;
    font-weight: lighter;
}


h1 {
  font-size: 50px;
}

hr {
  border-top: 3px double #ccd5ae;  
}

.header-top {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url("paper.gif");
    background-color: #e9edc9;  /* lighter green */
}

.header-middle {
    position: absolute;
    top: 100%;
    background-color: #ccd5ae;  /* light green */
    height: 150px;
    width: 100%;
}

.header-white {
    position: absolute;
    top: 112.5%;
    background-color: white;
    height: 100px;
    width: 330px;
    right: 50%;
    margin-right: -165px;
}



.title {
    position: absolute;
    width: 260px;
    height: 70px;
    top: 137.5%;
    margin-top: -40px;
    right: 50%;
    margin-right: -135px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}


/****BODY****/
.recipes-body-container {
    margin-top: 150px;
}
.body-container {
    margin-top: 150px;
    border: 3px solid red;
    height: auto;
}

.featured-recipe-body {
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    height: auto;
    border: 3px solid purple;
    margin-top: 150px;
}

.carousel-body {
    margin-bottom: 150px;
}

.featured-recipe-body img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



/**** RESPONSIVE THINGS ****/

/* Mobile Styles */
@media only screen and (max-width: 500px) {

}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
 .header-top {
   height: 300px;
}

 .header-middle {
    height: 200px;
    width: 400px;
    top: 66.66%;
    right: 50%;
    margin-right: -200px;
}

.header-white {
    position: absolute;
    top: 80%;
    background-color: white;
    height: 120px;
    width: 320px;
    right: 50%;
    margin-right: -160px;
}

.title {
    top: 100%;
}

.body-container {
    margin-top: 250px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel-body {
    margin:auto;
    width: 50%;
    height: auto;
    border: 3px solid green;
    margin-bottom: 150px;

}
  
  .featured-recipe-body {
    width: 50%;
}  
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
.header-top {
   height: 300px;
}

.header-middle {
    height: 200px;
    width: 600px;
    top: 66.66%;
    right: 50%;
    margin-right: -300px;
}

.header-white {
    position: absolute;
    top: 80%;
    background-color: white;
    height: 120px;
    width: 520px;
    right: 50%;
    margin-right: -260px;
}

.title {
    top: 100%;
}

.body-container {
    margin-top: 250px;
    margin-bottom: 250px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.carousel-body {
    margin: auto;
    width: 50%;
    height: auto;
    border: 3px solid green;
    margin-bottom: 150px;

}

.featured-recipe-body {
    margin-top: 150px;
    width: 50%;
}

.featured-recipe-body {
    width: 50%;
}


}